<div class="main">
	<div class="container">
		<h1 style="text-align:center">Tisztelt {{lastName}} {{firstName}}!</h1>
		<p>Azért kapta ezt az üzenetet, mert igényelte az Önről tárolt adatok lekérdezését. Az adatainak {{format}} formátumban történő letöltéséhez kattintson az alábbi gombra:</p>
		<div class="button-container">
			<a href="{{downloadUrl}}">Letöltés</a>
		</div>
		<p>
			Amennyiben a gomb nem működik kérjük, hogy másolja és illessze be a következő url címet a böngésző keresési sávjába:
			<br>
			<a href="{{downloadUrl}}">{{downloadUrl}}</a>
		</p>
		<p><b>Üdvözlettel,<br>{{ siteName }}</b></p>
	</div>
</div>