<div class="main">
	<div class="container">
		<h1 style="text-align:center">Tisztelt {{lastName}} {{firstName}}!</h1>
		<p>Azért kapta ezt az üzenetet, mert a <a href="{{siteUrl}}">Digital Deals</a> oldalon igényelte az Önről tárolt adatok {{format}} formátumban történő lekérdezését. Az adatainak letöltéséhez kattintson az alábbi gombra:</p>
		<div class="button-container">
			<a href="{{downloadUrl}}">Letöltés</a>
		</div>
		<p>
			Amennyiben a gomb nem működik kérjük, hogy másolja és illessze be a következő url címet a böngésző keresési sávjába:
			<br>
			<a href="{{downloadUrl}}">{{downloadUrl}}</a>
		</p>
		<p><b>Üdvözlettel,<br>Digital Deals</b></p>
	</div>
</div>