<div class="main">
	<div class="container">
		<h1 style="text-align: center">Dear {{firstName}} {{lastName}}!</h1>
		<p>Please click on the following link to create your new password:</p>
		<div class="button-container">
			<a href="{{newPasswordUrl}}">Create new password</a>
		</div>
		<p>
			If the button doesn't work, please copy and paste the following link into your browser's address bar and press enter:
			<br>
			<a href="{{newPasswordUrl}}">{{newPasswordUrl}}</a>
		</p>
		<p><b>Sincerely,<br>{{ siteName }}</b></p>
	</div>
</div>