<div class="main">
	<div class="container">
		<h1 style="text-align: center">Tisztelt {{lastName}} {{firstName}}!</h1>
		<p>Kérjük kattintson a következő linkre, hogy elfelejtett jelszava helyett újat hozzon létre:</p>
		<div class="button-container">
			<a href="{{forgottenPasswordUrl}}">Új jelszó létrehozása</a>
		</div>
		<p>
			Amennyiben a gomb nem működik kérjük, hogy másolja és illessze be a következő url címet a böngésző keresési sávjába:
			<br>
			<a href="{{forgottenPasswordUrl}}">{{forgottenPasswordUrl}}</a>
		</p>
		<p><b>Üdvözlettel,<br>Digital Deals</b></p>
	</div>
</div>