<div class="main">
	<div class="container">	
		<h1 style="text-align: center">Tisztelt {{lastName}} {{firstName}}!</h1>
		<p>{{ text }}</p>
		<p>Ezt a levelet azért kapta, mert a regisztráció során hozzájárult a hírlevélküldéshez. Ha nem szeretne a jövőben hírleveleket kapni tőlünk, akkor bármikor leiratkozhat honlapunkra belépve a profilom/adataim menüpont alatt vagy az alábbi gombra kattintva:</p>
		<div class="button-container">
			<a href="{{unsubscribeURL}}">Leiratkozás</a>
		</div>
		<p>
			Amennyiben a gomb nem működik kérjük, hogy másolja és illessze be a következő url címet a böngésző keresési sávjába:
			<br>
			<a href="{{unsubscribeURL}}">{{unsubscribeURL}}</a>
		</p>
		<p><b>Üdvözlettel,<br>{{ siteName }}</b></p>
	</div>
</div>